<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Third Wave</title>
</head>

<body>
    <h1>Third Wave</h1>
    <h3>Coffee Shops</h3>
    <p>We are here to make sure you never get fooled by a font ever again!</p>
</body>

</html>